html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #e3f0ff;
}

header {
    background-color: #fff;
    text-align: center;
    margin: 1%;
    font-size: 30px;
    height: 150px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    align-items: stretch;
}


aside {
    flex-grow: 1;
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    background-color: #fff;
    margin: 1%;
    height: 600px;
    width: 10%;
    overflow: hidden;
}

.card-title {
    margin: 8px;
}

progress {
    margin: 8px;
    padding: 16px;
}

.row {
    width: 100%;
    float: left;
    padding: 32px 2px;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;
}

main {
    display: flex;
    flex-grow: 14;
    flex-direction: column;
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    background-color: #fff;
    padding: 1%;
    margin: 1%;
    height: 600px;
    width: 25%;
}

.form-header {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.form-content {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

.form-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.form-btn {
    background-color: #7b91e0;
    border: 3px solid #495b9c;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

#bannerAd {
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    height: 150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#bannerAdScene1 {
    position: absolute;
    width: 1200px;
    top: -200px;
    z-index: 1;
    animation-name: bannerScene1Background;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#bannerAdScene2 {
    position: absolute;
    left: -400px;
    top: -500px;
    z-index: 1;
    animation-name: bannerScene2Background;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#bannerAdText {
    position: absolute;
    font-size: 26px;
    padding: 32px 0px;
    z-index: 2;
    color: #b5bbdb;
    left: 1%;
    animation-name: moveText;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bannerScene1Background {
    0% {
        left: 0px;
        opacity: 100%;
    }
    49.9% {
        opacity: 100%;
        left: -300px;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bannerScene2Background {
    0% {
        opacity: 0%;
    }
    49.9% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
        transform: scale(0.75);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes moveText {
    0% {
        content: "Test1";
    }
    50% {
        left: 90%;
        font-size: 36px;
        padding: 20px 0px;
        color: #000;
        content: "Changed Text";
    }
    100% {
        content: "Test3";
    }
}

.sidebarAdImage {
    width: 900px;
}