html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #e3f0ff;
}

header {
    margin: 1%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
}


aside {
    flex-grow: 1;
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    margin: 3%;
    width: 10%;
    overflow: hidden;
    background-color: black;
    position: relative;
}

.card-title {
    margin: 8px;
}

progress {
    margin: 8px;
    padding: 16px;
}

.row {
    width: 100%;
    float: left;
    padding: 32px 2px;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;
}

main {
    display: flex;
    flex-grow: 14;
    flex-direction: column;
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    background-color: #fff;
    padding: 1%;
    margin: 3%;
    height: 600px;
    width: 25%;
}

.form-header {
    flex: 0 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.form-content {
    flex: 1 1 auto;
    overflow-y: auto;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

.form-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.form-btn {
    background-color: #7b91e0;
    border: 3px solid #495b9c;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

#bannerAd {
    border: 1px solid #1f1f1f8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    height: 150px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#bannerAdScene1 {
    position: absolute;
    width: 1400px;
    top: -200px;
    z-index: 1;
    animation-name: bannerScene1Background;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#bannerAdScene2 {
    position: absolute;
    left: -400px;
    top: -500px;
    z-index: 1;
    animation-name: bannerScene2Background;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#bannerAdText1 {
    position: absolute;
    font-size: 26px;
    padding: 32px 0px;
    z-index: 2;
    color: white;
    left: 1%;
    animation-name: moveText1;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#bannerAdText2 {
    position: absolute;
    font-size: 26px;
    padding: 32px 0px;
    z-index: 2;
    color: black;
    left: 1%;
    animation-name: moveText2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bannerScene1Background {
    0% {
        left: 0px;
        opacity: 100%;
    }
    49.9% {
        opacity: 100%;
        left: -200px;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bannerScene2Background {
    0% {
        opacity: 0%;
    }
    49.9% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
        transform: scale(0.75);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes moveText1 {
    0% {
        opacity: 100%;
        color: white;
    }
    49.9% {
        opacity: 100%;
    }
    50% {
        left: 30%;
        font-size: 36px;
        padding: 20px 0px;
        color: #000;
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes moveText2 {
    0% {
        opacity: 0%;
    }
    49.9% {
        opacity: 0%;
    }
    50% {
        left: 30%;
        font-size: 36px;
        padding: 20px 0px;
        opacity: 100%;      
        color: black;  
    }
    100% {
        opacity: 100%;
        color: white;
    }
}

.sidebarAd {
    position: relative;
}

.sidebarAdImage {
    width: 900px;
    margin-left: -375px;
    position: absolute;
}

.sidebarAdImage2 {
    width: 325px;
    margin-left: -50px;
    position: absolute;
}

.sidebarAdBookBtn {
    height: 150px;
    width: 150px;
    line-height: 150px;
    position: absolute;

    left: 20%;

    border-radius: 50%;

    background-color: lightskyblue;
    color: black;
    text-align: center;
}

.triangleSmall {
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 250px solid lightskyblue;

    position: absolute;

    height: 600px;
    left: -45%;
}

.triangleLarge {
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid lightskyblue;

    position: absolute;

    height: 600px;
    left: -70%;
}

.corner {
	width: 0;
	height: 0;

    position: absolute;

	border-right: 100px solid transparent;
	border-top: 100px solid lightskyblue;
}

.sidebarAdText {
    position: absolute;

    top: 475px;
    padding: 0px 16px;

    color: #000;
    text-align: center;
}

.sidebarAdText2 {
    position: absolute;

    top: 425px;

    font-size: 30px;

    color: #000;
    text-align: center;
}

#sidebarReplay {
    position: absolute;

    height: 100px;
    width: 100px;
    line-height: 100px;

    left: 30%;
    top: 40%;

    border-radius: 80%;

    background-color: grey;
    color: white;
    text-align: center;
}